[Unit]
Description=Telegram Bot service for kiyomi_ristoro_bot

[Service]
Type=simple
User=mrfrank
Group=mrfrank
WorkingDirectory=/home/mrfrank/giorni-riposo-telegram-bot/
Environment=PYTHONUNBUFFERED=1
EnvironmentFile=/home/mrfrank/giorni-riposo-telegram-bot/bot.env
ExecStart=/home/mrfrank/giorni-riposo-telegram-bot/python3 /home/mrfrank/giorni-riposo-telegram-bot/bot.py

Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
